@import url('./../Style/extraStyle.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-lg leading-none text-primary scroll-smooth main-BG transition-all;
    @apply selection:bg-gray-600;
  }
  .h2 {
    @apply font-primary text-collor1 font-bold md:text-[55px] text-[35px] mb-5 tracking-[10%];
  }
  .h3 {
    @apply font-primary text-collor2 font-semibold md:text-[46px] text-[28px] mb-5 uppercase;
  }
  .btn {
    @apply relative h-12 min-w-36 md:w-52 overflow-hidden border border-indigo-600 text-primary shadow-2xl transition-all duration-200 before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:m-auto before:h-0 before:w-0 before:rounded-sm before:bg-indigo-600 before:duration-300 before:ease-out hover:text-white hover:shadow-indigo-600 hover:before:h-40 hover:before:w-full hover:before:opacity-80 m-2;
  }
  .btn_2 {
    @apply relative h-12 min-w-16 md:min-w-52  overflow-hidden border border-collor1 bg-collor1 text-white shadow-2xl transition-all before:absolute before:right-0 before:top-0 before:h-16 before:w-6 before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:bg-collor1 hover:before:-translate-x-60 m-2;
  }
  .btn-sm {
    @apply h-[48px] flex items-center text-base px-2;
  }
  .btn-lg {
    @apply h-[62px] flex items-center text-2xl px-2;
  }

  .centerBtn {
    @apply relative z-10 flex items-center justify-center mx-auto my-auto;
  }

  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 lg:py-16 flex items-center justify-center;
  }
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
